<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API F1</title>
</head>
<body>
    <h1>Bienvenido a la API de F1</h1>
    <p>Puedes consultar:</p>
    <ul>
        <li><a href="/f1-driver">Lista de pilotos</a></li>
        <li><a href="/f1-driver/1">Piloto con ID 1</a></li>
        <li>...</li>
        <li><a href="/f1-driver/20">Piloto con ID 20</a></li>
    </ul>
    <p>También puedes añadir pilotos haciendo post a:</p>
    <ul>
        <li>/f1-driver</li>
    </ul>
    <p>Y mandando el body correspondiente:</p>
    <code>{ name: "Fran", nationality: "Spain", surname: "Linde", team: "Lexus" }</code>
</body>
</html>
